<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Stampinup" parallel="tests" thread-count="3">
	<listeners>
		<listener
			class-name="trivago.magazineAutomation.commonUtil.TestListener" />
	</listeners>
	<test name="Search Location">
		<classes>
			<class name="runner.TestRunner" />
		</classes>
	</test>
</suite> <!-- Suite -->
